{% extends "navbar.jinja" %}

{% block undernav %}
<div class="container bg-light mt-4 p-3 rounded-3">
    <center>
        <h1>Titulo del juego {{ prod }}</h1>
        <p>Por favor confirme su compra</p>
    </center>
    <div class="row" id="count">
        
    </div>
    <center>
    <a href="" class="btn" id="buy_confirm">Confirmar</a> 
    <a href="/{{ user }}/see_product/{{ prod }}" class="btn btn-outline-danger">Volver</a>
    </center>
</div>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='Scripts/buy.js') }}"></script>
{% endblock %}