{% extends "navbar.jinja" %}

{% block undernav %}
<div class="container bg-light mt-4 p-3 rounded-3">

    <!-- Filtrado -->

    <div class="row">
        <div class="col-3">
            <select class="form-select" aria-label="Default select example">
                <option selected>-Desarrollador-</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-3">
            <select class="form-select" aria-label="Default select example">
                <option selected>-Distribuidor-</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-3">
            <div class="row">
                <div class="col-6 ">
                    <div class="col-auto">
                      <input type="text" placeholder="$MIN" id="minprice" class="form-control">
                    </div>
                </div>
                <div class="col-6 ">
                    <div class="col-auto">
                      <input type="text" placeholder="$MAX" id="maxprice" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <input class="form-control me-2" type="search" placeholder="Titulo" aria-label="Search">
        </div>
        <div class="col-1"><button class="btn btn-outline-success" type="button">Aplicar</button></div>
    </div>

    <!-- Juegos disponibles -->

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Desarrollador</th>
            <th scope="col">Distribuidor</th>
            <th scope="col">Lanzamiento</th>
            <th scope="col">Precio</th>
          </tr>
        </thead>
        <tbody id="games_list">
        </tbody>
      </table>

</div>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='Scripts/main_page.js') }}"></script>
{% endblock %}