{% extends "navbar.jinja" %}

{% block undernav %}
<div class="container bg-light mt-4 p-3 rounded-3">
    <center><h1>Titulo del juego {{ prod }}</h1></center>
    <div class="row">
        <div class="col-6">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora enim illo eum deleniti itaque fugiat cupiditate repudiandae quae fuga, ipsa commodi perspiciatis adipisci labore maiores neque soluta architecto, mollitia similique. Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, deleniti nam numquam necessitatibus pariatur voluptates natus laborum? Laborum facilis quos id blanditiis rem dicta possimus, facere eius fuga, voluptatum quis.
        </div>
        <div class="col-6">
            <p>Desarrollador</p>
            <p>Distribuidor</p>
            <p>DD MMM AAAA</p>
        </div>
    </div>
    <center><a href="/{{ user }}/buy/{{ prod }}" class="btn btn-success">Comprar</a> <a href="/{{ user }}" class="btn btn-outline-danger">Volver</a></center>
</div>
{% endblock %}