{% extends "navbar.jinja" %}

{% block undernav %}
<div class="container bg-light mt-4 p-3 rounded-3">

    <!-- Datos usuario -->

    <div class="row px-5">
        <div class="col-6">
            <h1>{{ user }} Name</h1>
        </div>
        <div class="col-6 text-end position-relative">
            <p class="position-absolute top-50 end-0 translate-middle-y text-primary">Creditos de {{ user }} <i class="bi-star text-warning" style="font-size: 1rem;"></i></p>
        </div>
    </div>
    <div class="row px-5 py-4">
        <div class="col-6 text-end position-relative">
            <a href="/{{ user }}/change_password" class="btn btn-outline-secondary position-absolute top-50 start-0 translate-middle-y">Cambiar contraseña</a>
        </div>
        <div class="col-6 text-end position-relative">
            <a href="/{{ user }}/get_credits" class="btn btn-outline-primary position-absolute top-50 end-0 translate-middle-y">
                <i class="bi-star text-warning" style="font-size: 1rem;"></i>
                Conseguir Creditos
                <i class="bi-star text-warning" style="font-size: 1rem;"></i>
            </a>
        </div>
    </div>

    <!-- Juegos Comprados -->
    
    <center><h5 class="mt-5">Juegos comprados</h5></center>

    <div class="border row mx-5 mt-4 p-3">

        <div class="card col-4">
            <div class="card-body">
              <center><h5 class="card-title">Game Title</h5></center>
              <div class="row">
                <h6 class="card-subtitle col-6 mb-2 text-muted">Desarrollador</h6>
                <h6 class="card-subtitle col-6 mb-2 text-muted text-end">DD MMM AAAA</h6>
              </div>
              <div class="row">
                <h6 class="card-subtitle col-6 mb-2 text-muted">Distribuidor</h6>
                <h6 class="card-subtitle col-6 mb-2 text-muted text-end"><span class="text-primary">$$$$$</span><i class="bi-star text-warning" style="font-size: 1rem;"></i></h6>
              </div>
              <center><a href="/{{ user }}/refund/2" class="btn btn-outline-danger">Devolver</a></center>
            </div>
        </div>   

    </div>
</div>
{% endblock %}